server:
  port: 8765

spring:
  application:
    name: API-GATEWAY

  main:
    web-application-type: reactive

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: USER-SERVICE
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/v1/auth/**
          filters:
            - StripPrefix=2
        - id: product-service
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/api/v1/products/**, /api/v1/categories/**, /api/v1/brand/**
          filters:
            - StripPrefix=2

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

jwt:
  secret: fcf874fcd1aa0350827b3f6ea78bd67bdd8d6b623f434fe6ace26382de3b3f82
  expiration-ms: 3600000
  public-endpoints:
    - /api/v1/auth/signup
    - /api/v1/auth/login
    - /api/vi/auth/refresh
    - /api/v1/auth/forgot-password
    - /api/v1/auth/reset-password

user-site:
  url: http://localhost:5173

app:
  cors:
    allowed-origins:
      - http://localhost:5173
    allowed-methods:
      - GET
      - POST
      - PUT
      - DELETE
      - OPTIONS
    allowed-headers:
      - "*"
    allow-credentials: true
    max-age: 3600