spring:
  application:
    name: PRODUCT-SERVICE

  datasource:
    url: jdbc:postgresql://localhost:5432/product_db
    username: postgres
    password: postgresql
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

  liquibase:
    change-log: classpath:db/migration/changelog_master.yaml

server:
  port: 8082
  servlet:
    context-path: /api/v1

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true   # Register this service with Eureka
    fetch-registry: true
  instance:
    prefer-ip-address: true
