spring:
  application:
    name: CART-SERVICE

  datasource:
    url: jdbc:postgresql://192.168.0.65:5432/cart_db
    username: postgres
    password: postgresql
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  liquibase:
    change-log: classpath:db/migration/cart_changelog.yaml

server:
  port: 8084
  servlet:
    context-path: /api/v1

#eureka:
#  client:
#    service-url:
#      defaultZone: http://localhost:8761/eureka
#    register-with-eureka: true   # Register this service with Eureka
#    fetch-registry: true
#  instance:
#    prefer-ip-address: true
